.featured {
  position: relative;
  overflow: hidden;
}

.tree-grid .tree-grid-row {
  padding: 0px;
  margin: 0px;
}

.tree-grid .tree-grid-row a {
  padding: 3px 10px;
}

.hierarchy-link {
  cursor: pointer;
}

.app-header {
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;

  .header-title {
    margin: 0;
    line-height: 1.42857143;
  }
}